
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #6D6875;
    line-height: 1.5; 
    text-align: center;
}

h1 {
    font-family: 'Homemade Apple', Helvetica, cursive;
    font-size: 50px; 
}

h2 {
    font-family: 'Homemade Apple', Helvetica, cursive;
    font-size: 40px; 
}

h3 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 20px; 
}

h4 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 20px; 
}

h5 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 18px; 
}

h6 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 16px; 
    margin: 0;
    padding: 0;
}

.links {
    text-align: center;
}

.links li {
    display: inline-block;
    text-align: initial;
    padding: 10px 40px;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Domine', Helvetica, serif;
    font-size: 15px;
    color: #6d6875;; 
}

a, a:hover {
    color: inherit;
    text-decoration: none; 
}

.home {
    position: relative;
    text-align: center;
}

.home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h6 {
    position: relative;
    text-align: center;
}

.icon {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    margin: 1rem 0;
    line-height: 1.8; 
    font-family: 'Domine', serif;
}

.content {
    max-width: 60rem;
    margin: 0 auto;
    width: 50%; 
}

section { 
    padding: 4rem 0; 
}

.landing {
    height: 100vh;
}

.second {
    background-color: #FDB8B6;
    height: 90vh;
}

.fade {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition: 0.3s;
    font-size: 30px;
}

.fade:hover {
    opacity: 0.6;
}

