html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova", Helvetica, sans-serif;
    font-weight: 600;
    color: #222222;
    line-height: 1.5; 
    text-align: center;
}

h1 {
    font-size: 50px; 
}

h2 {
    font-size: 40px; 
}

h3 {
    font-size: 20px; 
}

h4 {
    font-size: 20px; 
}

h5 {
    font-size: 18px; 
}

h6 {
    font-size: 16px; 
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Proxima Nova", Helvetica, sans-serif;
    font-size: 15px;
    color: #6d6875;; 
}

a, a:hover {
    color: inherit;
    text-decoration: none; 
}

ul {
    margin: 2rem 0;
    list-style: none;
    padding-left: 2rem; 
}

ul li {
    padding: 0.5rem 0;
    font-weight: 200; 
}

p {
    margin: 1rem 0;
    line-height: 1.8; 
}

.content {
    max-width: 60rem;
    margin: 0 auto;
    width: 54%; 
}

.hero {
    position: relative;
    overflow: hidden;
}

section { 
    padding: 4rem 0; 
}

footer {
    padding: 2rem;
    background-color: #222222;
    color: white;
    text-align: center; 
}

footer p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

nav {
    height: 3rem;
    position: relative;
    width: 100%; 
}

nav ul {
    height: 3rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 0;
    list-style: none; 
}

nav ul li {
    font-size: 15px;
    padding: 0;
    display: inline-block;
}

nav ul li:hover {
    cursor: pointer;
    color: white;
    background-color: #e9ded7; 
}

nav ul li p {
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0.75rem 1.5rem; 
}

/* Column Classes
------------------------------------------------------------ */
 
.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin: 0 0 20px 3%;
}
 
.one-half,
.three-sixths,
.two-fourths {
    width: 48%;
}
 
.one-third,
.two-sixths {
    width: 31%;
}
 
.four-sixths,
.two-thirds {
    width: 65%;
}
 
.one-fourth {
    width: 22.5%;
}
 
.three-fourths {
    width: 73.5%;
}
 
.one-fifth {
    width: 17.4%;
}
 
.two-fifths {
    width: 37.8%;
}
 
.three-fifths {
    width: 58.2%;
}
 
.four-fifths {
    width: 78.6%;
}
 
.one-sixth {
    width: 14%;
}
 
.five-sixths {
    width: 82%;
}
 
.first {
    clear: both;
    margin-left: 0;
}


body, html {
    height: 100%;
}

nav {
    position: relative;
    z-index: 1;
}

nav.pinned {
    position: fixed;
    top: 0;
    background-color: #e0ccc7;
    transition: 0.3s ease background-color;
    -webkit-transition: 0.2s ease background-color;
}

.navbar-wrapper {
    height: 3rem;
}

.navbar {
    text-align: center;
}

.home {
    height: 100%;
    background-color: #fed9d6;
    cursor: default;
}

.home h1 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 21rem;
    z-index: 2;
}

.home h6 {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}

.circle {
    position: absolute;
    top: 30%;
    left: 50%;
    background-image: url(/img/as-photo.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.links {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: -40px;
    z-index: 2;
}

.links li {
    display: inline;
    color: white;
    padding: 0px 10px;
    font-size: 30px;
}

.arrow {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 3rem;
    z-index: 2;
}

.content a, b {
    font-weight: bold;
}


#about-me {
    text-align: center;
    background: #fff9f5;
}

#about-me a {
    color: #222222;
}

#experience {
    text-align: center;
    background: #fdb8b6;
}

#experience p {
    padding-bottom: 20px;
    color: #6d6875;
}

#experience img {
    width: 80%;
    height: auto;
    margin: 15px auto;
}

#involvement {
    text-align: center;
    background: #fff9f5;
}

#involvement img {
    width: 80%;
    height: auto;
    margin: 15px auto;
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.5);
}

@media only screen and (max-width: 800px) {
    
    .home h1 {
        font-size: 30px;
        padding-top: 20rem;
    }
    
    .arrow {
        padding: 1rem;
    }
    
    .links li {
        font-size: 20px;
        padding: 0 5px;
    }
    
    .links ul {
        margin: 1rem 0;
    }
    
    #projects img {
        width: 100%;
    }
    
    .content {
        width: 90%;
    }
    
    .navbar-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    .home h1 {
        font-size: 30px;
        padding-top: 17rem;
    }
}

@media only screen and (min-width: 1400px) {
    
    .home h1 {
        padding-top: 24rem;
    }
}

@media only screen and (min-width: 1600px) {
    
    .home h1 {
        padding-top: 28rem;
    }
}