
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #6D6875;
    line-height: 1.5; 
    text-align: center;
}

h1 {
    font-family: 'Homemade Apple', Helvetica, cursive;
    font-size: 50px; 
}

h2 {
    font-family: 'Homemade Apple', Helvetica, cursive;
    font-size: 40px; 
}

h3 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 20px; 
}

h4 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 20px; 
}

h5 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 18px; 
}

h6 {
    font-family: 'Domine', Helvetica, serif;
    font-size: 16px; 
}

ul {
    list-style-type: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Domine', Helvetica, serif;
    font-size: 15px;
    color: #6d6875;; 
}

a, a:hover {
    color: inherit;
    text-decoration: none; 
}

.home h1 {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
}

.home h6 {
    position: relative;
    text-align: center;
}

.icon {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    margin: 1rem 0;
    line-height: 1.8; 
    font-family: 'Domine', serif;
}

.content {
    max-width: 60rem;
    margin: 0 auto;
    width: 50%; 
}

section { 
    padding: 4rem 0; 
}

.landing {
    height: 100vh;
}

.second {
    background-color: #FDB8B6;
}

.second h2 {
    
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.big:hover,
.big:focus,
.big:active {
    transform: scale(1.5);
}