/* Color Palette: 
Burnt orange: #dc4b2f
Orange: #e16c38
Coral: #f1ae60
Mustard: #edbd52
Base: #edd8cd
Light Pink: #efbcb6
Dark pink: #dc3f53

font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  overscroll-behavior-y: none;
  color: #3f3d3d;
}

html {
  scroll-behavior: smooth;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Navigation Bar */

.nav {
  overflow: hidden;
  background-color: #edd8cd;
  color: #3f3d3d;
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
}

.nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.topnav a:hover {
  color: #524f4f;
  background-color: #eee6e0;
  opacity: .5;
}

.topnav .icon {
  display: none;
}

/* Home Page */

.head {
  padding-top: 30px;
  height: 100vh;
  color: #3f3d3d;
  margin: 0px;
  overflow-y: hidden;
}

.left {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #edd8cd;
}

.left h1 {
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  color: #000000;
}

.left .button {
  float: left;
}

.left .button a{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  width: 300px;
  height: 30px;
  background-color: #efbcb6;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.left .button a:hover {
  opacity: 0.8;
  text-align: left;
}

.right {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #edd8cd;
}

.right img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 60%;
  border-bottom-left-radius: 30%;
}

.button a {
  width: 300px;
  height: 50px;
  background-color: #e5b4b2;
  text-align: center;
  padding: 14px 40px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #3f3d3d;
}

.button a:hover {
  opacity: 0.9;
  text-align: center;
}

/* Body */

section {
  padding-top: 50px;
  min-height: 100vh;
  color: #3f3d3d;
  margin: 0px;
  overflow-y: hidden;
}

/*
#about .picture {
  object-fit: contain;
}

#about .picture {
  width: 100%;
}
*/

#about h1 {
  font-weight: 600;
  font-size: 60px;
  padding-left: 20px;
  margin: 0px;
}

#about p {
  padding-left: 20px;
  padding-right: 30px;
}

#about .picture {
  width: 100%;
}

#about .row {
  display: flex;
}

#about .column {
  flex: 33.33%;
  padding: 10px;
}
#about img:hover {
  opacity: 1;
}

#about img{
  border-radius: 50%;
  opacity: 0.8;
}

/* Footer */

footer {
  background-color: #efbcb6;
  color: #efbcb6;
  margin-top: auto;
}

.icons {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.icons a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}

footer a,
footer a:visited {
  color: #000000;
  text-decoration: none;
  font-size: 5vh;
}

footer a:hover {
  opacity: 0.6;
}

.copyright {
  text-align: center;
  font-size: 13px;
  color: #3f3d3d;
  margin-bottom: 0;
}